header
	margin 7px

li
	list-style-type none

#expo_edit
	position fixed
	right 3px
	bottom 3px
	top 300px

#expo_edit textarea
	height 400px
	width 100%
	
#nouns_container .row-fluid
	border thin dotted lightblue